@import url('https://fonts.cdnfonts.com/css/druk-wide-bold');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333639;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: "Druk Wide Bold", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
